/**/
/*ELEMENTS - listed alphabetically*/
/**/

* {
  /*border: dotted 1px black;*/
  font-family: "Courier New", Courier, monospace; /*Tahoma, Geneva, sans-serif;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
}

/**/
/*IDs - listed in order of page position*/
/**/

/*NAV BAR*/

#nav {
  height: 50px;
  /*position: relative;*/
}

#navLeft {
  float: left;
  padding-left: 25px;
  padding-top: 14px;
  /*line-height: 100px;*/
  width: 45%;
}

#name {
  font-size: 20px;
  text-transform: uppercase;
}

#navRight {
  float: right;
  padding-right: 25px;
  padding-top: 14px;
  width: 45%;
}

#navRight ul {
  float: right;
}

#navRight a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

#navRight a:hover {
  text-decoration: underline;
}


#navRight li {
  display: inline;
}

/*JUMBOTRON*/

#jumbotron {
  background-image: url('/static/img/monticello.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#linkHeader {
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  position: relative;
  top: 70px;
  width: 80%;
}

#header {
  background-color: #CCCCCC;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 100px 20px 100px;
  text-align: center;
}

/*BASE64*/

#sixfourHatch {
  background-image: url('/static/img/base64.jpg');
  background-position: 100% 100%;
  margin-top: 10px;
}

#sixfour {
  text-align: center;
  background-color: #efefef;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}

#resultBase {
  text-align: center;
  word-wrap: break-word;
}

/*FIBONACCI*/

#fibHatch {
  background-image: url('/static/img/fibo.jpg');
  background-position: 50% 70%;
}

#fibo {
  text-align: center;
  background-color: #efefef;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}

#fiboInput {
  width: 50px;
}

/*VIGENERE*/

#vigHatch {
  background-image: url('/static/img/vig.jpg');
}

#vig {
  text-align: center;
  background-color: #efefef;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}

/*HAVERSINE*/

#havHatch {
  background-image: url('/static/img/haver.jpg');
  background-position: 50% 50%;
}

#hav {
  text-align: center;
  background-color: #efefef;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}

#buttonHav {
  text-align: center;
  margin-top: 30px;
  width: 140px;
}

/*FOOTER*/

#bottom {
  padding-top: 25px;
  margin-top: 35px;
  height: 50px;
  text-align: center;
  background-color: #CCCCCC;/*efefef;*/
}

/**/
/*CLASSES - listed alphabetically*/
/**/

.button {
  display: inline-block;
  height: 20px;
  width: 70px;
  background-color: #CCCCCC;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.drop {
  text-align: center;
  border: 10px solid #CCCCCC;
  border-top: 0px;
}

.hatch {
  padding: 20px 160px 20px 160px;
  background-color: lightblue;
  border: 10px solid #CCCCCC; /*#efefef*/
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  word-wrap: break-word;
  cursor: pointer;
}

.hatch h1 {
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  background-color: lightblue;
}

.hatch p {
  border-radius: 8px;
  background-color: lightblue;
  border: 2px solid black;
  font-size: 15px;
  padding: 10px;
  margin: 10px 30px 10px 30px;
}

.inputHav {
  width: 50px;
}

.learnMore {
  border-radius: 8px;
  background-color: lightblue;
  border: 2px solid black;
  padding: 4px;
}

.menu {
  background-color: black;
  color: white;
  cursor: pointer;
}

.plink {
  background-color: #efefef;
  border: 10px solid lightblue;
}

.wrap {
  padding: 5px 10px 15px 10px;
}