/**/
/*ELEMENTS - listed alphabetically*/
/**/

* {
  /*border: dotted 1px black;*/
  font-family: "Courier New", Courier, monospace; /*Tahoma, Geneva, sans-serif;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

/**/
/*IDs - listed in order of page position*/
/**/

/*NAV BAR*/

#nav {
  height: 50px;
  /*position: relative;*/
}

#navLeft {
  float: left;
  padding-left: 25px;
  padding-top: 14px;
  /*line-height: 100px;*/
  width: 45%;
}

#name {
  font-size: 20px;
  text-transform: uppercase;
}

#navRight {
  float: right;
  padding-right: 25px;
  padding-top: 14px;
  width: 45%;
}

#navRight ul {
  float: right;
}

#navRight a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

#navRight a:hover {
  text-decoration: underline;
}


#navRight li {
  display: inline;
}

/*JUMBOTRON*/

#jumbotron {
  background-image: url('/static/img/monticello.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

#jumbotron div:first-child {
  background-color: white;
  border: solid;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  margin: 15px;
}

#jumbotron div:first-child > p {
  padding: 10px;
}

#jumbotron a {
  color: white;
}

#linkHeader {
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  position: relative;
  top: 70px;
  width: 80%;
}

/*HEADER*/

#header {
  background-color: #CCCCCC;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 100px 20px 100px;
  text-align: center;
}

#header a {
  color: white;
}

/*BASE64*/

#base64Hatch {
  background-image: url('/static/img/base64.jpg');
  background-position: 100% 100%;
}

#base64Drop > div {
  padding: 10px;
}

#base64Drop div:first-child {
  width: 45%;
  display: inline-block;
}

#base64Drop div:nth-child(2) {
  width: 45%;
  display: inline-block;
}

/*#base64Drop div:nth-child(3) {
  width: 100%;
  clear: both;
}*/

#base64Result {
  width: 100%;
  clear: both;
  text-align: center;
  word-wrap: break-word;
}

/*FIBONACCI*/

#fibonacciHatch {
  background-image: url('/static/img/fibo.jpg');
  background-position: 50% 70%;
}

#fibonacciDrop > div {
  padding: 10px;
}

#fibonacciDrop div:first-child {
  margin: 0 auto;
  width: 90%;
}

#fiboInput {
  width: 50px;
}

/*VIGENERE*/

#vigenereHatch {
  background-image: url('/static/img/vig.jpg');
}

#vigenereDrop > div {
  padding: 10px;
}

#vigenereDrop div:first-child {
  width: 45%;
  display: inline-block;
}

#vigenereDrop div:nth-child(2) {
  width: 45%;
  display: inline-block;
}

/*#vigenereResult {
  padding: 10px;
}*/

/*HAVERSINE*/

#haversineHatch {
  background-image: url('/static/img/haver.jpg');
  background-position: 50% 50%;
}

#haversineHatch > p > a {
  color: white;
}

#haversineDrop > div {
  padding: 10px;
}

#haversineDrop div:first-child {
  width: 45%;
  display: inline-block;
}

#haversineDrop div:nth-child(2) {
  width: 45%;
  display: inline-block;
}

#buttonHav {
  background-color: #CCCCCC;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 20px;  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*FOOTER*/

#footer {
  padding-top: 25px;
  margin-top: 35px;
  height: 50px;
  text-align: center;
  background-color: #CCCCCC;/*efefef;*/
}

/**/
/*CLASSES - listed alphabetically*/
/**/

.app {
  /*padding: 10px 15px 15px 10px;*/
}

.button {
  display: inline-block;
  height: 20px;
  width: 70px;
  background-color: #CCCCCC;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.drop {
  background-color: #efefef;
  border: 10px solid #CCCCCC;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.hatch {
  background-color: lightblue;
  border: 10px solid #CCCCCC; /*#efefef*/
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  margin: 20px 50px 0px 50px;
  text-align: center;
  word-wrap: break-word;
}

.hatch > * {
  margin: 10px 10px 10px 10px;
}

.hatch > h4 {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.hatch > p {
  border-radius: 8px;
  background-color: lightblue;
  border: 2px solid black;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

.inputHav {
  width: 50px;
}

.learnMore {
  margin-top: 20px;
  margin-bottom: 20px;
}

.learnMore > a {
  border-radius: 8px;
  background-color: lightblue;
  border: 2px solid black;
  padding: 4px;
}

.menu {
  background-color: black;
  color: white;
  cursor: pointer;
}

.plink {
  background-color: #efefef;
  border: 10px solid lightblue;
}