.DS_Store
.env
lcov.info
node_modules
npm-debug.log
temp
tests.html
home.zip
dump.rdb
awsBuild
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
