<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>analytics</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/analytics.css">
  </head>

  <body ng-app="myApp">
    <div>
      <div id="homeButton">
        <p>HOME</p>
      </div>

      <div id="dbTable" ng-controller="dbCtrl">

        <table border="1">
          <tr>
            <td>Cookie ID</td>
            <td>Visits</td>
            <td>Last Visited</td>
            <td>IP Address</td>
          </tr>
          <tr>
            <td>{{you.id}}</td>
            <td>{{you.visits}}</td>
            <td>{{you.lastVisited}}</td>
            <td>{{you.ip}}</td>
          </tr>
          <TR ng-repeat="user in users"> 
            <td>{{user.id}}</td>
            <td>{{user.visits}}</td>
            <td>{{user.lastVisited}}</td>
            <td>{{user.ip}}</td>
          </tr>
        </table>

      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="/static/build/analyticsBundle.js"></script>
  </body>
</html>
