<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>ronanmccabe.me</title>
    <link rel='icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  </head>

  <body>

    <div id='nav'>

        <div>
          <h1>RONAN MCCABE</h1>
        </div>

        <div>
          <ul>
            <li>
              <a href='https://github.com/wallcrawler/cv' target='_blank'>CV</a>
            </li>
            <li>
              <a href='http://www.codewars.com/users/wallcrawler' target='_blank'>Codewars</a>
            </li>
            <li>
              <a href='https://github.com/wallcrawler' target='_blank'>Github</a>
            </li>
          </ul>
        </div>

    </div>

    <div id='jumbotron'>

      <div>
        <p>Site Analytics</p>
      </div>

      <p>
        <a href='#haversineHatch'>Haversine</a> / <a href='#base64Hatch'>Base64</a> /
        <a href='#vigenereHatch'>Vigen&egrave;re</a> / <a href='#fibonacciHatch'>Fibonacci</a>
      </p>

    </div>

    <div id='header'>

      <p>
        here is a selection of webapps based on challenges from <a href='https://www.codewars.com/' target='_blank'>codewars</a>
      </p>
      <br/>
      <p>
        site code can be found <a href='https://github.com/wallcrawler/home/' target='_blank'>here</a>
      </p>

    </div>

    <div id='appSection'>

      <div class='app'>
 
        <div id='haversineHatch' class='hatch'>

          <h4>Haversine Distance Calculator</h4>

          <p>
            With this app you can calculate the distance between any two points on the globe using the <a href='http://en.wikipedia.org/wiki/Haversine_formula' target='_blank'>Haversine Formula</a>.
          </p>

        </div>

        <div id='haversineDrop' class='drop'>

          <div id='leaflet'>
            
          </div>

          <div id='haversineResult'>
            <p id='outHav1'></p>
            <p id='outHav2'></p>
          </div>

        </div>

      </div>

      <div class='app'>

        <div id='base64Hatch' class='hatch'>

          <h4>Base64 Encoder/Decoder</h4>
          
          <p>
            Here you can convert ASCII strings to 
              <a href='http://en.wikipedia.org/wiki/Base64' target='_blank'>Base64</a>. And even decode them!
          </p>

        </div>

        <div id='base64Drop' class='drop'>

          <div>
            <h4>Encode to Base64:</h4>
            <input type='text' id='userInputEnc'/>
            <div id='button1' class='button'>
              Enter
            </div>
          </div>

          <div>
            <h4>Decode from Base64:</h4>
            <input type='text' id='userInputDec'/>
            <div id='button2' class='button'>
              Enter
            </div>
          </div>

          <div id='base64Result'>
            <p id='outBase'></p>
          </div>

        </div>

      </div>

      <div class='app'>

        <div id='vigenereHatch' class='hatch'>

          <h4>Vigen&egrave;re Encoder/Decoder</h4>

          <p>
            Here you can harness the power of the <a href='https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher' target='_blank'>Vigen&egrave;re cipher</a>.
            <br/>Provide the message you wish to encode, as well as the keyword you wish to protect the message with.
            The message can then be decoded in future as long as the keyword has been remembered.
          </p>

        </div>

        <div id='vigenereDrop' class='drop'>

          <div>
            <h4>Encode your message here:</h4>

            <form>
              Message:
              <input type='text' id='vigMesEnc'/>
              <br>
              Keyword:
              <input type='text' id='vigPasEnc'/>
            </form>

            <div id='buttonVigEnc' class='button'>Enter</div>
          </div>

          <div>
            <h4>Decode your message here:</h4>

            <form>
              Encoded Message:
              <input type='text' id='vigMesDec'/>
              <br>
              Keyword:
              <input type='text' id='vigPasDec'/>
            </form>

            <div id='buttonVigDec' class='button'>
              Enter
            </div>

          </div>
          
          <div id='vigenereResult'>
            <p id='outVig1'></p>
            <p id='outVig2'></p>
          </div>  

        </div>

      </div>

      <div class='app'>

        <div id='fibonacciHatch' class='hatch'>

          <h4>Fibonacci Generator</h4>

          <p>Here you can display the famous <a href='http://en.wikipedia.org/wiki/Fibonacci_number' target='_blank'>Fibonacci sequence</a> in all its glory.</p>

        </div>

        <div id='fibonacciDrop' class='drop'>

          <div>
            <h4>Enter your desired sequence length:</h4>
            <input type='number' min=1 id='fiboInput'/>
            <div id='buttonFib' class='button'>Enter</div>
          </div>

          <div id='fibonacciResult'>
            <p id='outFib'></p>
          </div>

        </div>

      </div>

    </div>

    <div id='footer'>
      <p><strong>Copyright &copy; 2015 Ronan McCabe. All rights reserved.</strong></p>
    </div>
    
    <script type='text/javascript' src='/static/bundle/mainBundle.js'></script>

  </body>

</html>
