<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ronanmccabe.me</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>

  <body>

    <div id="nav">

        <div id="navLeft">
          <h1 id="name">Ronan McCabe</h1>
        </div>
        <div id="navRight">
          <ul>
            <!-- <li>
              <a href="/analytics">Analytics</a>
            </li> -->
            <li>
              <a href="http://www.codewars.com/users/wallcrawler" target="_blank">Codewars</a>
            </li>
            <li>
              <a href="http://www.codecademy.com/wallcrawler_ie" target="_blank">Codecademy</a>
            </li>
            <li>
              <a href="https://github.com/wallcrawler" target="_blank">Github</a>
            </li>
          </ul>
        </div>

    </div>

    <div id="jumbotron">
      <p id="linkHeader">
        <a href="#base64Hatch">Base64</a> / <a href="#fibonacciHatch">Fibonacci</a> /
        <a href="#vigenereHatch">Vigen&egrave;re</a> / <a href="#haversineHatch">Haversine</a>
      </p>
    </div>

    <div id="header">
      <p>
        here is a selection of webapps based on challenges from <a href="https://www.codewars.com/" target="_blank">Codewars</a>
      </p>
    </div>

    <div id="appSection">

      <div class="app">

        <div id="base64Hatch" class="hatch">

          <h4>Base64 Encoder/Decoder</h4>
          
          <p>
            Here you can convert humble ASCII strings to the mysterious and exotic Base64. And even decode them!
          </p>

          <div class="learnMore">
            <a href="http://en.wikipedia.org/wiki/Base64" target="_blank">Learn more...</a>
          </div>

        </div>

        <div id="base64Drop" class="drop">

          <div>
            <h4>Encode to Base64:</h4>
            <input type="text" id="userInputEnc"/>
            <div id="button1" class="button">Enter</div>
          </div>

          <div>
            <h4>Decode from Base64:</h4>
            <input type="text" id="userInputDec"/>
            <div id="button2" class="button">Enter</div>
          </div>

          <div id="base64Result">
            <p id='outBase'></p>
          </div>

        </div>

      </div>

      <div class="app">

        <div id="fibonacciHatch" class="hatch">

          <h4>Fibonacci Generator</h4>

          <p>Here you can see the wondrous and allegedly useful Fibonacci sequence in all its glory.</p>

          <div class="learnMore">  
            <a href="http://en.wikipedia.org/wiki/Fibonacci_number" target="_blank">Learn more...</a>
          </div>

        </div>

        <div id="fibonacciDrop" class="drop">

          <div>
            <h4>Enter your desired sequence length:</h4>
            <input type="number" min=1 id="fiboInput"/>
            <div id="buttonFib" class="button">Enter</div>
          </div>

          <div id="fibonacciResult">
            <p id='outFib'></p>
          </div>

        </div>

      </div>

      <div class="app">

        <div id="vigenereHatch" class="hatch">

          <h4>Vigen&egrave;re Encoder/Decoder</h4>

          <p>
            Here you can harness the power of the Vigen&egrave;re cipher.
            <br/>Provide the message you wish to encode, as well as the keyword you wish to protect the message with.
            The message can then be decoded in future as long as the keyword has been remembered.
            <br/>The app currently accepts a basic lowercase [a-z] alphabet but custom alphabet support is coming shortly.
          </p>

          <div class="learnMore">
            <a href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher" target="_blank">Learn more...</a>\
          </div>

        </div>

        <div id="vigenereDrop" class="drop">

          <div>
            <h4>Encode your message here:</h4>

            <form>
              Message:
              <input type="text" id="vigMesEnc"/>
              <br>
              Keyword:
              <input type="text" id="vigPasEnc"/>
            </form>

            <div id="buttonVigEnc" class="button">Enter</div>
          </div>

          <div>
            <h4>Decode your message here:</h4>

            <form>
              Encoded Message:
              <input type="text" id="vigMesDec"/>
              <br>
              Keyword:
              <input type="text" id="vigPasDec"/>
            </form>

            <div id="buttonVigDec" class="button">Enter</div>
          </div>
          
          <div id="vigenereResult">
            <p id='outVig1'></p>
            <p id='outVig2'></p>
          </div>  

        </div>

      </div>

      <div class="app">

        <div id="haversineHatch" class="hatch">
          <h4>Haversine Distance Calculator</h4>
          <p>
            With this app you can calculate the distance between any two points on the globe using the Haversine Formula.
            This should be incredibly useful if you are a Discovery Age explorer with Internet access.
            <br/>Input is taken in degrees, minutes and seconds which are then converted to decimal degrees. Support for direct input of decimal degrees is coming soon.
            <br/><a href="http://www.infoplease.com/ipa/A0001769.html" target="_blank">Here</a> is a list of city co-ordinates to play around with.
            <br/><br/>The degrees, minutes and seconds should be positive integers within the specified ranges. Any invalid or missing inputs will be set to 0.
          </p>
          <div class="learnMore">
            <a href="http://en.wikipedia.org/wiki/Haversine_formula" target="_blank">Learn more...</a>
          </div>
        </div>

        <div id="haversineDrop" class="drop">

          <div>
            <h4>Co-ordinate 1:</h4>

            <h4>Longitude</h4>
            <form>
              Degrees&deg; (0-180)
              <input type="number" id="hav1.1" class="inputHav"/><br/>
              Minutes&#39; (0-60)
              <input type="number" id="hav1.2" class="inputHav"/><br/>
              Seconds&#34; (0-60)
              <input type="number" id="hav1.3" class="inputHav"/><br/>
              North or South?
              <select id="havC1">
                <option value="N">N</option>
                <option value="S">S</option>
              </select>
              <br/>
            </form>

            <h4>Latitude</h4>
            <form>
              Degrees&deg; (0-180)
              <input type="number" id="hav2.1" class="inputHav"/><br/>
              Minutes&#39; (0-60)
              <input type="number" id="hav2.2" class="inputHav"/><br/>
              Seconds&#34; (0-60)
              <input type="number" id="hav2.3" class="inputHav"/><br/>
              East or West?
              <select id="havC2">
                <option value="E">E</option>
                <option value="W">W</option>
              </select>
            </form>
          </div>

          <div>
            <h4>Co-ordinate 2:</h4>

            <h4>Longitude</h4>
            <form>
              Degrees&deg; (0-180)
              <input type="number" id="hav3.1" class="inputHav"/><br/>
              Minutes&#39; (0-60)
              <input type="number" id="hav3.2" class="inputHav"/><br/>
              Seconds&#34; (0-60)
              <input type="number" id="hav3.3" class="inputHav"/><br/>
              North or South?
              <select id="havC3">
                <option value="N">N</option>
                <option value="S">S</option>
              </select>
            </form>

            <h4>Latitude</h4>
            <form>
              Degrees&deg; (0-180)
              <input type="number" id="hav4.1" class="inputHav"/><br/>
              Minutes&#39; (0-60)
              <input type="number" id="hav4.2" class="inputHav"/><br/>
              Seconds&#34; (0-60)
              <input type="number" id="hav4.3" class="inputHav"/><br/>
              East or West?
              <select id="havC4">
                <option value="E">E</option>
                <option value="W">W</option>
              </select>
            </form>
          </div>

          <div>
            <div id="buttonHav">Calculate</div>
          </div>

          <div id="haversineResult">
            <p id='outHav1'></p>
            <p id='outHav2'></p>
          </div>

        </div>

      </div>

    </div>

    <div id="footer">
      <p><strong>Copyright &copy; 2015 Ronan McCabe. All rights reserved.</strong></p>
    </div>
    
    <script type="text/javascript" src="/static/bundle.js"></script>

  </body>

</html>
