@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/shiftw.woff');
}

@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/shiftw-bold.woff');
}

@font-face {
  font-family: 'Cube';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/cube-bold.woff');
}