html {
  height: 100px;
  margin: 0;
  padding: 0;
}

body {
  /*min-height: 100%;*/
  /*width: 100%;*/
  height: 100%;
  margin: 0;
  text-align: center;
  padding-top: 50px;
  /*overflow-y: hidden;*/
  overflow: hidden;
}

.pencils {
}

.row {
  bottom: 5px;
  height: 40px;
  position: relative;
}

.row > img {
  transition-duration: 1s;
}

.row.shift > .right {
  transform: translate(50px);
}

.row.shift > .left {
  transform: translate(-50px, 19px);
}

.left {
  position: fixed;
  right: 50%;
  transform: translate(0px, 19px);
}

.right {
  /*display: none;*/
  position: fixed;
  left: 44%;
  margin-left: -42px;
}
